@page "/articles"
@attribute [StreamRendering]

<PageTitle>Articles</PageTitle>


<div class="d-flex gap-3 align-items-center mb-3">
    <h3>Articles</h3>

    <AuthorizeView Roles="Admin, Writer">
        <Authorized>
            <a href="/articles/edit" class="ca-button ca-primary">Create new article</a>
        </Authorized>
        <NotAuthorized>
            <AuthorizeView Context="NestedAuthorizedView">
                <Authorized>
                    <span class="text-sm">You do not have permissions to create a new article.</span>
                </Authorized>
                <NotAuthorized>
                    <span class="text-sm">Log in to create a new article.</span>
                </NotAuthorized>
            </AuthorizeView>

        </NotAuthorized>
    </AuthorizeView>
</div>

@if (articles is null)
{
    <p><em>Loading...</em></p>
}
else if(articles.Count <= 0)
{
    <p><em>No articles were found.</em></p>
}
else
{
    @foreach(var article in articles)
    {
        <div class="ca-box mb-4" style="@(!article.IsPublished ? "background-color: bisque;" : string.Empty)">
            <h4 style="margin-bottom: 0.1rem">@article.Title</h4>
            <p style="margin-bottom: 0.1rem">@article.Content</p>
            @if(article.IsPublished)
            {
                <p class="text-sm-end">@article.DatePublished by @article.UserName</p>
            }
            else
            {
                <p class="text-sm-end"><em>Unpublished</em> by @article.UserName</p>
            }
            <hr />
            <div class="display: inline">
                <a href="/articles/view/@article.Id" class="ca-button ca-outline-primary" style="margin-right: 3px; margin: 0.2rem;">View</a>
                @if(article.CanEdit)
                {
                    <a href="/articles/edit/@article.Id" class="ca-button ca-secondary; margin: 0.2rem;">Edit</a>
                }
            </div>
        </div>
    }
}

@code {
    private List<ArticleResponse>? articles;

    protected override async Task OnInitializedAsync()
    {
        var result = await Sender.Send(new GetArticlesQuery());
        articles = result.Success ? result.Value : [];
    }
}
